<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <a class="navbar-brand" th:href="@{/addAppointment}">Add Appointment</a>
</nav>
    <div align="center">
        <table  border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>room</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Symptoms</th>
                <th>Edit</th>
            </tr>
            <tr th:each="app: ${appointment}">
                <td th:text="${app.id}" />
                <td th:text="${app.room}" />
                <td th:text="${app.doctor?.name}"/>
                <td th:text="${app.patient?.name}" />
                <td th:text="${app.date}" />
                <td th:text="${app.symptoms}" />
                <td><a th:href="@{/addAppointment(id=${app.id})}">Edit</a></td>
            </tr>
        </table>

    </div>

</body>
</html>